.Carousel {
   width: 1240px;
   padding-left: 100px;
   padding-right: 100px;
   display: flex;
   justify-content: center;
   margin-top: 40px;
   border-radius: 25px;
   position: relative;

    &__img {
        width: 1240px;
        height: 415px;
        object-fit: cover;
        border-radius: 10px;
        position: relative;
    }
    &__chevron{
        color: white;
        position: absolute;
        top:50%;
        font-size: 48px;
        
    }
    &__chevron-left{
        left:10%
    }
    &__chevron-right{
        right: 10%;
       
      
    }

}