.NavLink {
    text-decoration: none; 
    list-style: none;
    color :$main-color;
    @media (max-width: 768px) {
      font-size: 12px;
    
    }
    
  }

  .nav-active {
    text-decoration: underline;
  
  }