.Banner {
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  margin-top: 50px;
  @media (max-width: 768px) {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: start;

  }

  &__img {
    display: block;
    width: 100%;
    height: 223px;
    border-radius: 25px;
    filter: brightness(70%);

  }

  &__text {
    width: 705px;
    height:68px ;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 48px;
    color: white;
    @media (max-width: 768px) {
      width:217px ;
      height: 48px;
      font-size: 24px;
      transform: translate(-60%, -50%);
     
      
    }



   





  }
}